apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-cm
  namespace: clickhouse
data:
  config.xml: |
    <clickhouse>
      <remote_servers>
      <cluster>
        <shard>
          <replica>
            <host>localhost</host>
            <port>9000</port>
          </replica>
        </shard>
      </cluster>
    </remote_servers>
      <zookeeper>
        <node>
          <host>zookeeper</host>
          <port>2181</port>
        </node>
      </zookeeper>
    </clickhouse>
