apiVersion: apps/v1
kind: Deployment
metadata:
  name: twitch-bot
  namespace: bots
spec:
  selector:
    matchLabels:
      app: twitch-bot
  replicas: 1
  template:
    metadata:
      labels:
        app: twitch-bot
    spec:
      containers:
        - name: twtich-bot
          image: docker.io/rorix/twitch-bot:20260127-051333@sha256:f71df9669b30343f7ee46a24a49b4c3b9e975440b1c01b08867b5e4acc3fdade # {"$imagepolicy": "flux-system:bot-policy"}
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 200m
              memory: 200Mi
            limits:
              cpu: 200m
              memory: 200Mi
          env:
            - name: ADMIN_TOKEN
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: ADMIN_TOKEN
            - name: DISCORD_WEBHOOK
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: DISCORD_WEBHOOK
            - name: REDIS_URL
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: REDIS_URL
            - name: SPOTIFY_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: SPOTIFY_CLIENT_ID
            - name: SPOTIFY_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: SPOTIFY_CLIENT_SECRET
            - name: SPOTIFY_REFRESH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: SPOTIFY_REFRESH_TOKEN
            - name: TWITCH_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: TWITCH_CLIENT_ID
            - name: TWITCH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: TWITCH_CLIENT_SECRET
            - name: TWITCH_REFRESH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: TWITCH_REFRESH_TOKEN
            - name: GOTIFY_APPLICATION_TOKEN
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: GOTIFY_APPLICATION_TOKEN
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: bots-secrets
                  key: OTEL_EXPORTER_OTLP_ENDPOINT
            - name: OTEL_ENVIRONMENT
              value: "production"
          ports:
            - name: http
              containerPort: 3000
      restartPolicy: Always
