apiVersion: apps/v1
kind: Deployment
metadata:
  name: n8n-deploy
  namespace: n8n
spec:
  replicas: 1
  selector:
    matchLabels:
      app: n8n-deploy
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: n8n-deploy
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: /metrics
        prometheus.io/port: "443"
    spec:
      initContainers:
        - name: volume-permissions
          image: busybox:1.36
          command: ['sh', '-c', 'chown 1000:1000 /data']
          volumeMounts:
            - name: n8n-pvc
              mountPath: /data
      containers:
        - image: n8nio/n8n:next
          name: n8n
          command:
            - /bin/sh
          args:
            - -c
            - sleep 5; n8n start
          env:
            - name: DB_TYPE
              value: postgresdb
            - name: DB_POSTGRESDB_HOST
              value: postgres-svc.db
            - name: DB_POSTGRESDB_PORT
              value: '5432'
            - name: DB_POSTGRESDB_DATABASE
              value: n8n
            - name: DB_POSTGRESDB_USER
              value: admin
            - name: DB_POSTGRESDB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: n8n-secret
                  key: DB_PASSWORD
            - name: N8N_PORT
              value: '443'
            - name: N8N_EDITOR_BASE_URL
              value: https://automate.mvaldes.dev
            - name: N8N_HOST
              value: automate.mvaldes.dev
            - name: N8N_PROTOCOL
              value: https
            - name: WEBHOOK_URL
              value: https://automate.mvaldes.dev
            - name: N8N_METRICS
              value: 'true'
            - name: N8N_PROXY_HOPS
              value: '2'
          ports:
            - containerPort: 5678
          volumeMounts:
            - mountPath: /home/node/.n8n
              name: n8n-pvc
      restartPolicy: Always
      volumes:
        - name: n8n-pvc
          persistentVolumeClaim:
            claimName: n8n-pvc
