apiVersion: v1
kind: Namespace
metadata:
  name: grafana
---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: grafana-helm
  namespace: grafana
spec:
  interval: 1m0s
  url: https://grafana.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: grafana-release
  namespace: grafana
spec:
  targetNamespace: grafana
  chart:
    spec:
      chart: grafana
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: grafana-helm
      version: 8.8.4
  interval: 1m0s
  valuesFrom:
    - kind: ConfigMap
      name: configmap
