global:
  imageRegistry: null
  imagePullSecrets: []
  storageClass: nfs-k8s-keep
  clusterDomain: cluster.local
  clusterName: "homelab"
  deploymentEnvironment: ""
  cloud: other
nameOverride: ""
fullnameOverride: ""
enabled: true
clusterName: ""
otelCollectorEndpoint: null
otelInsecure: true
insecureSkipVerify: false
signozApiKey: ""
apiKeyExistingSecretName: ""
apiKeyExistingSecretKey: ""
otelTlsSecrets:
  enabled: false
namespace: "signoz"
presets:
  debugExporter:
    enabled: false
  otlpExporter:
    enabled: true
  otlphttpExporter:
    enabled: false
  selfTelemetry:
    enabled: false
  logsCollection:
    enabled: true
    whitelist:
      enabled: false
  hostMetrics:
    enabled: true
  kubeletMetrics:
    enabled: true
  kubernetesAttributes:
    enabled: true
  clusterMetrics:
    enabled: false
  prometheus:
    enabled: false
  resourceDetection:
    enabled: true
    timeout: 2s
    override: false
    envResourceAttributes: ""
  k8sEvents:
    enabled: false
otelAgent:
  enabled: true
  name: "monitor"
  image:
    registry: docker.io
    repository: otel/opentelemetry-collector-contrib
    tag: 0.139.0
    pullPolicy: IfNotPresent
  imagePullSecrets: []
  command:
    name: /otelcol-contrib
    extraArgs: []
  configMap:
    create: true
  service:
    annotations: {}
    type: ClusterIP
    internalTrafficPolicy: Local
  serviceAccount:
    create: true
    annotations: {}
    name:
  annotations: {}
  podAnnotations:
    signoz.io/scrape: 'true'
    signoz.io/port: '8888'
    signoz.io/path: /metrics
  additionalEnvs:
    OTEL_EXPORTER_OTLP_ENDPOINT: otel.local.net
  minReadySeconds: 5
  clusterRole:
    create: true
    annotations: {}
    name: ""
    rules:
      # k8sattributes processor requires these permissions
      - apiGroups: [""]
        resources: ["pods", "namespaces", "nodes", "persistentvolumeclaims"]
        verbs: ["get", "list", "watch"]
      - apiGroups: ["apps"]
        resources: ["replicasets"]
        verbs: ["get", "list", "watch"]
      - apiGroups: ["extensions"]
        resources: ["replicasets"]
        verbs: ["get", "list", "watch"]
      - apiGroups: [""]
        resources: ["nodes", "endpoints"]
        verbs: ["list", "watch"]
      - apiGroups: ["batch"]
        resources: ["jobs"]
        verbs: ["list", "watch"]
      - apiGroups: [""]
        resources: ["nodes/proxy"]
        verbs: ["get"]
      - apiGroups: [""]
        resources: ["nodes/stats", "configmaps", "events"]
        verbs: ["create", "get"]
      - apiGroups: [""]
        resources: ["configmaps"]
        resourceNames: ["otel-container-insight-clusterleader"]
        verbs: ["get", "update"]
    clusterRoleBinding:
      annotations: {}
      name: ""
  ports:
    otlp:
      enabled: true
      containerPort: 4317
      servicePort: 4317
      nodePort: ""
      hostPort: 4317
      protocol: TCP
    otlp-http:
      enabled: true
      containerPort: 4318
      servicePort: 4318
      nodePort: ""
      hostPort: 4318
      protocol: TCP
    metrics:
      enabled: true
      containerPort: 8888
      servicePort: 8888
      nodePort: ""
      hostPort: 8888
      protocol: TCP
    health-check:
      enabled: true
      containerPort: 13133
      servicePort: 13133
      nodePort: ""
      hostPort: 13133
      protocol: TCP
  hostNetwork: false
  livenessProbe:
    enabled: true
    port: 13133
    path: /
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  readinessProbe:
    enabled: true
    port: 13133
    path: /
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 6
    successThreshold: 1
  customLivenessProbe: {}
  customReadinessProbe: {}
  ingress:
    enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
  priorityClassName: ""
  nodeSelector: {}
  tolerations: {}
  affinity: {}
  podSecurityContext: {}
  securityContext: {}
  config: {}
  extraVolumes: []
  extraVolumeMounts: []
otelDeployment:
  enabled: false
