apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: atuin-ingressroute
  namespace: atuin
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`atuin.local.net`)
      services:
        - name: atuin-svc
          port: 80
