apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared
  namespace: cloudflared
data:
  config.yaml: |-
    tunnel: 7338b3b7-8da4-49ad-bc94-89ceadf305fa
    credentials-file: /etc/cloudflared/creds/tunnel.json
    metrics: 0.0.0.0:2000
    no-autoupdate: false
    originRequest:
      connectionTimeout: 30s
    ingress:
    - hostname: mvaldes.dev
      service: http://about-svc.blog

    - hostname: blog.mvaldes.dev
      service: http://blog-svc.blog

    - hostname: atlantis.mvaldes.dev
      service: http://atlantis-atlantis-release.atlantis

    - hostname: draw.mvaldes.dev
      service: http://excalidraw-service.excalidraw

    - hostname: links.mvaldes.dev
      service: http://shlink-svc-api.shlink

    - hostname: grafana.mvaldes.dev
      service: http://grafana-grafana-release.grafana

    - hostname: umami.mvaldes.dev
      service: http://umami-svc.umami

    - hostname: bots.mvaldes.dev
      service: http://twitch-svc.bots

    - hostname: hoa-ws.mvaldes.dev
      service: ws://hoa-svc.hoa:80

    - hostname: hoa.mvaldes.dev
      service: http://hoa-svc.hoa

    - hostname: paperless.mvaldes.dev
      service: http://paperless-svc.paperless

    - hostname: search.mvaldes.dev
      service: http://search-svc.search

    - hostname: automate.mvaldes.dev
      service: http://n8n-svc.n8n

    - hostname: db.mvaldes.dev
      service: http://nocodb-svc.nocodb

    - hostname: vault.mvaldes.dev
      service: http://vault-vault-release-ui.vault:8200

    - hostname: calibre.mvaldes.dev
      service: http://calibre-svc.calibre:8083

    - hostname: gotify.mvaldes.dev
      service: http://gotify-svc.gotify

    - hostname: signoz.mvaldes.dev
      service: http://signoz-helm-release.signoz:8080

    - service: http_status:404
