apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-cm
  namespace: vault
data:
  values.yaml: |
    server:
      standalone:
       enabled: true
       config: |
          ui = true

          listener "tcp" {
            tls_disable = 1
            address = "[::]:8200"
            cluster_address = "[::]:8201"
          }
          storage "file" {
            path = "/vault/data"
          }
          telemetry {
            disable_hostname = true
            prometheus_retention_time = "12h"
          }
      service:
        enabled: true
      dataStorage:
        enabled: true
        size: 5Gi
        storageClass: nfs-k8s-keep
        accessMode: ReadWriteOnce
    ui:
     enabled: true
     serviceType: ClusterIP
    injector:
      enabled: falseo
