apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-cm
  namespace: clickhouse
data:
  config.xml: |
    <clickhouse>
      <remote_servers>
        <cluster>
          <shard>
            <replica>
              <host>localhost</host>
              <port>9000</port>
            </replica>
          </shard>
        </cluster>
      </remote_servers>
      <zookeeper>
        <node>
          <host>clickhouse-zookeper-svc</host>
          <port>9181</port>
        </node>
      </zookeeper>
      <macros>
        <shard>01</shard>
        <replica>01</replica>
      </macros>
    </clickhouse>
---
# https://kubernetes.io/docs/concepts/configuration/configmap/
apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-keeper-cm
  namespace: clickhouse
data:
  zoo.cfg: |
    # Basic settings
    tickTime=2000
    initLimit=10
    syncLimit=5
    dataDir=/tmp
    clientPort=2181

    # Auto purging of old snapshots
    autopurge.snapRetainCount=3
    autopurge.purgeInterval=1

    # The list of servers in the ensemble
    # Format: server.id=host:follower_port:election_port
    server.1=localhost:2888:3888
